
/*-----------------------------------delivery----------*/
.delivery{
    padding: 100px 0;
}
/* .delivery-top- {
    position: absolute;
} */
.delivery-container {
    padding: 0 50px;
    display: flex;
}
.delivery-top-wrap{
    display: flex;
    justify-self: center;
    align-items: center;
}
.delivery-top{
    height: 80px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 110px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.delivery-top ul {
    width: 100%;
    display: block;
    justify-content: space-between;
    padding: 0 50px;
}
.delivery-content-line {
    display: flex;
    width: 85%;
    padding-left: 76px;
    justify-content: space-between;
}
.delivery-road {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    position: absolute;
    top: 13px;
    width: 0%;
}
.delivery-radio {
    justify-content: center;
    padding: 10px 34%;
}
.delivery-road span {
    width: 8rem;
    position: absolute;
    left: -30px;
}
.delivery-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #fff;
}
.delivery-straight-line {
    width: 86%;
    height: 4px;
    background: #ccc;
    top: 29px;
    position: absolute;
}
/* -------------------------- */
/* .delivery-top ul li:before {
    content: "";
    position: absolute;
    top: 130px;
    left: 46%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 24px;
    z-index: 12;
    border: 2px solid #e7e8e9;
    background-color: white;
}
.delivery-top ul li.active:before {
    width: 18px;
    height: 18px;
    top: 3px;
    border: 2px solid white;
    z-index: 14;
    background-color: #221f20;
} */
/* --------------------------- */
.delivery-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    
}
.delivery-top-item i{
    color: #ddd;

}
.delivery-top-adress{
    border: 1px solid #0087ea;

}
.delivery-top-adress i{
    color: #0087ea;
    
}
.delivery-content-left{
    width: 60%;
    padding: 12px 0;

}
.delivery-content-left p{
    font-size: 12px;

}
.delivery-content-left label{
    font-size: 12px;
    margin-bottom: 6px;
    display: block;

}
.delivery-content-left> p{
    font-weight: bold;
}
.delivery-content-left-dangnhap{
    padding: 12px 0;

}
.delivery-content-left-dangnhap i{
    font-size: 12px;
    padding: 12px 0;


}
.delivery-content-left-khachle{
    padding: 12px 0;

}
.delivery-content-left-khachle input{
    margin-right: 12px;
}
.delivery-content-left-dangki{
    padding: 12px 0;

}
.delivery-content-left-dangki input{
    margin-right: 12px;
}
.delivery-content-left-input-top-row{
    justify-content: space-between;
    padding: 12px 0;

}
.delivery-content-left-input-top-item{
    width: 70%;
    pointer-events: none;
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;
    background: #eee;
}
.delivery-content-left-input-top-item:last-child{
    pointer-events: auto;

}
.delivery-content-left-input-top-item:last-child input{
    background-color: #fff;
}
.delivery-content-left-input-button input{
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;

}
.delivery-content-left-input-button p{
    display: inline-block;
    font-size: 12px;
}
.delivery-content-left-button span{
    margin-right: 12px;
}
.delivery-content-left-button{
    justify-content: space-between;
    padding-top: 20px;

}
.delivery-content-left-button button{
    height: 35px;
    border: 2px solid black;
    padding:  6px 12px;
    cursor: pointer;
    transition: all 0.3% ease;

}
.delivery-content-left-button button:hover{
    background-color: black;
    color: #fff;

}
.delivery-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #ddd;
    height: auto;

}
.delivery-content-right table{
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}
.delivery-content-right table tr th:first-child{
    text-align: left;
}
.delivery-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd;

}
.delivery-content-right table tr th:last-child{
    text-align: right;

}
.delivery-content-right table tr td{
    padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid #ddd;
}
.delivery-content-right table tr td:last-child{

    text-align: right;
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}
